@{
    ViewData["Title"] = "Home Page";
}
@model GameModel;

<div class="text-center">
    <div>
        <p id="statusMessage"></p>
        <div id="stats">
            <p id="rooms">Kamers online: </p>
        </div>
        <div id="preparations" style="display: flex; flex-direction: row;">
            <div>
                <input class="form-control" style="width: 200px;" id="usernameInput" type="text" placeholder="Gebruikersnaam" />
                <input class="form-check" style="width: 200px;" id="createButton" type="button" value="Kamer aanmaken" />
            </div>
            <div style="margin-left: 10px;">
                <input class="form-control" style="width: 200px;" id="roomInput" type="text" placeholder="Kamer code" />
                <input class="form-check" style="width: 200px;" id="joinButton" type="button" value="Verbinding maken" />
            </div>
        </div>
        <div id="chat" style="display: none;">
            <input class="form-control" id="messageInput" type="text" placeholder="Bericht" />
            <input class="form-check" id="sendButton" type="button" value="Verzenden" />
            <input class="form-check" id="leaveButton" type="button" value="Verlaat kamer" />
            <hr />
            <div style="display: flex; flex-direction: row;">
                <div style="width: 80%;">
                    <ul id="messages"></ul>
                </div>
                <div style="width: 20%;">
                    <ul id="users"></ul>
                </div>
            </div>
        </div>
        <div id="game" style="display: none;">

        </div>
    </div>
</div>

@section Scripts {
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}